p{
    color: #666666;
}

h4{
    color: #212529;
}
.bg-primary p{
    color: white;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.bg-services{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.card-services{
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 48px 20px;
    margin-top: 24px;
}

.services{
    margin-top: 75px;
    margin-bottom: 75px;
}

.presentation, .contact{
    margin-top: 100px;
}

